@charset "utf-8";
/* CSS Document */
#header{width:1354px;height:639;}
#main{width:1354px;height:639;}
#pland{width:1354px;height:639;}
#mains{width:1354px;height:639;}
#end{width:1354px;height:639;}

